{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Room</title>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>

<body>
    <div class="full">
        <div class="title">
            <h1>{{room}}</h1>    
        </div>

    <div id="display">
        
    </div>

    
        <div >
        <div class="container" >
            <script type="text/javascript" >
                $(document).ready(function(){
                
                setInterval(function(){
                    $.ajax({
                        type: 'GET',
                        url : "/getMsgs/{{room}}",
                        success: function(response){
                            console.log(response);
                            $("#display").empty();
                            
                            var u = window.location.search.split("=")[1];
                            
                            for (var i in response.messages)
                            {
                                if(response.messages[i].user==u )
                                    var temp="<div class='container darker'><b>"+response.messages[i].user+"</b><br>"+response.messages[i].msg+"<br><span class='time-left'>"+response.messages[i].time+"</span></div>";
                                    
                                else
                                    var temp="<div class='container darker2'><b>"+response.messages[i].user+"</b><br>"+response.messages[i].msg+"<br><span class='time-left'>"+response.messages[i].time+"</span></div>";
                                $("#display").append(temp);
                            }
                            
                        },
                        error: function(response){
                            alert('An error occured')
                        }
                    });
                   
                },1000);
                })
                
                
            </script>
       </div>
       </div>
        <script>
            document.getElementById('#dipslay').scrollTop = 9999999;
        </script>
    
    
        <form id="post-form">
            <div class="button">
                {% csrf_token %}
                <input type="hidden"  id='username' value={{username}}>
                <input type="hidden"  id='room_id' value={{room_details.id}}>
                <input type="text"  id="message" placeholder="Enter message">
                <button ><i class="material-icons">send</i></span></button>
            </div>
        </form>
    </div>

    <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        $(document).ready(function() {
            $("button").click(function() {
                $(document).scrollTop($(document).height());
            });
        });
    </script>


    <script type="text/javascript">
        $(document).on('submit','#post-form',function(e){
        e.preventDefault();
    
        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
            //alert(data)
            }
        });
        document.getElementById('message').value = ''
        });
    </script>
</body>
</html>
{% endblock %}